.bg-darkgray {
    background-color: #333;
}

.border-radius {
    border-radius: 2px 2px 2px 2px;
}

button:focus{
    outline: 0;
}

.btn:focus {
    outline: 0;
}

.toggle {
    width: 50%;
    display: block;

}

